{% extends "src/layouts/base.njk" %}

// Data that goes into data/db.js pages object
// It enables collections and more via zou.config.js filters
{% block frontMatter %}
title: Homepage
url: /
type: page
{% endblock %}

{% block pageTitle %} 👋 {% endblock %}
{% block pageDesc %}My Zou! project{% endblock %}

{# Actual visible content on the Page #}
{% block main %}

  <figure onclick="toggleTheme()" style="padding-top:2rem;">
    <img src="https://icongr.am/feather/sun.svg?size=24&color=var(--text)">
  </figure>
  <main style="display:grid;justify-content: center;text-align:center;margin-top:3rem;">
    <figure>
      <img src="https://zoujs.vercel.app/static/images/z.png" width="50px">
    </figure>
    <h1>Zou!<span>JS</span></h1>
    <h2 title="Click on me ;)" _="on click call alert('///_Hyperscript is Working!')">-full project by DevMysterio</h2>
    <nav style="margin-top:1.5rem;font-family:sans-serif;">
      / {% for link in data.navMain %} <a href="{{link.url}}">{{link.label}}</a> / {% endfor %}
    </nav>
  </main>

  <!-- Minimal styles -->
  <style>
    body {
      background: var(--bg);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      height: 100vh;
    }
    @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }
    h1 {
      font-family: boogaloo;
      font-size: clamp(4rem, 16vw, 8rem);
      text-shadow: 2px 2px 0 rgba(134, 194, 50, 0.6);
    }
    h1 > span {
      font-size: clamp(1.8rem, 8vw, 4rem);
      padding-left: clamp(0.2rem, 1vw, 1rem);
      text-shadow: 2px 2px 0 rgba(245,190,37, 0.6);
    }
    h2 {
      font-family: Caveat;
      font-size: clamp(1.6rem, 6vw, 3rem);
    }
    a,
    a:visited,
    a:active {
      color: var(--text-1);
      text-decoration: underline;
    }
  </style>
{% endblock %}