<header style="width:100%">
  <nav class="nav">
    <div class="nav-left">
      <!-- Imported from data/store.js in zou.config.js -->
      {% for link in data.nav %}
        <a href="{{link.url}}">{{link.label}}</a>
      {% endfor %}
    </div>
    <div class="nav-center">
      <a href="https://github.com/AndiKod/zou" class="brand">
        <img src="/static/images/z.png" width="100%" height="100%" alt="Z">
      </a>
    </div>
    <div class="nav-right">
      <button onclick="toggleTheme()" class="button clear icon-only">
        <img src="https://icongr.am/feather/sun.svg?size=24&color=var(--text)">
      </button>
    </div>
  </nav>
</header>