<!DOCTYPE html>
<html lang="en">
    <head x-data="data">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Zou!" />
    <title>{% block pageTitle %}{% endblock %} {{data.appName}}</title>
    <meta name="description" content="{% block pageDesc %}{% endblock %}">
    <link rel="author" href="/humans.txt" />
    <link rel="icon" href="/favicon.ico" />


    <link rel="stylesheet" href="/css/tw.css">
    <link rel="stylesheet" href="/css/sassy.css">
    <link rel="stylesheet" href="/css/outcss.css">

    {% block headStyles %}{% endblock %}
    {% block headScripts %}{% endblock %}
    </head>
    <body class="h-screen m0" x-data="data" x-init="init()">  

        {% include "src/partials/header.njk" ignore missing %}
        {% block main %}{% endblock %}
        {% include "src/partials/footer.njk" ignore missing %}
        
    <script src="/script.js"></script>
    </body>
</html>