<!DOCTYPE html>
<html lang="en">
    <head x-data="data">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="generator" content="Zou!JS"/>
        <title>
            {% block pageTitle %}{% endblock %}
            {{data.appName}}</title>
        <meta name="description" content="{% block pageDesc %}{% endblock %}">
        <link rel="author" href="/humans.txt"/>
        <link rel="icon" href="/favicon.ico"/>
        {% import '../../node_modules/zoumacros/lib/cdn.njk' as cdn %}
        {{ cdn.pkg('hyperscript') }}
        {{ cdn.pkg('chota') }}
        <!-- Comiled styles -->
        <link rel="stylesheet" href="/css/main.css"/>
        {% block headStyles %}{% endblock %}
        {% block headScripts %}{% endblock %}
    </head>
    <body>

        {% include "src/partials/header.njk" %}
        {% block main %}{% endblock %}

        <script src="/script.js"></script>
        
        <script>
        // function to set a given theme/color-scheme
        function setTheme(themeName) {
            localStorage.setItem('zouTheme', themeName);
            document.body.classList.add(themeName);
            
        }

            // function to toggle between light and dark theme
            function toggleTheme() {
                if (localStorage.getItem('zouTheme') === 'dark') {
                    setTheme('light');
                    location.reload()
                } else {
                    setTheme('dark');
                    location.reload()
                }
            }

            // Immediately invoked function to set the theme on initial load
            (function () {
                if (localStorage.getItem('zouTheme') === 'dark') {
                    setTheme('dark');
                } else {
                    setTheme('light');
                }
            })();
        </script>
    </body>
</html>